<br>
<br>
<br>
<br>
<br>
<h2>Panier</h2>
<!-- Start Site Content -->
<div class="site-content ptb-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Start Content Area -->
        <div id="primary" class="content-area">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9">
              <!-- Start Table -->
              <div class="table-responsive">
                <table class="table-condensed table-bordered cart-table">
                  <thead>
                    <tr>
                      <th class="cart-iremove">Supprimer</th>
                      <th class="cart-ithumbnail">Produit</th>
                      <th class="cart-iname">Nom</th>
                      <th class="cart-iprice">Prix</th>
                      <th class="cart-iquantity">Quantité</th>
                      <th class="cart-itotal">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @cart.line_items.each do |chat| %>
                      <tr>
                        <td class="cart-iremove">
                          <a href="#">
                            <i class="icofont icofont-close"></i>
                          </a>
                        </td>
                        <td class="cart-ithumbnail"></td>
                        <td class="cart-iname"><%= chat.item.title %></td>
                        <td class="cart-iprice"><%= number_to_currency(chat.item.price, unit: "€", separator: ".", format: "%n %u") %></td>
                        <td class="cart-iquantity"><%= chat.quantity %></td>
                        <td class="cart-itotal"><%= number_to_currency(chat.total, unit: "€", separator: ".", format: "%n %u") %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- End Table -->
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
              <!-- Start Cart Widget -->
              <div class="cart-widget">
                <p class="uppercase">
                  <strong>Total du panier</strong>
                </p>
                <!-- Start Table -->
                <table class="table widget-table">
                  <tbody>
                    <tr>
                      <td>Sous-total Panier</td>
                      <td class="text-right"><%= number_to_currency(@cart.total, unit: "€", separator: ".", format: "%n %u") %></td>
                    </tr>
                    <tr>
                      <td>Frais de port</td>
                      <td class="text-right">Free</td>
                    </tr>
                    <tr>
                      <td>Total TTC</td>
                      <td class="text-right"><%= number_to_currency(@cart.total, unit: "€", separator: ".", format: "%n %u") %></td>
                    </tr>
                  </tbody>
                </table>
                <!-- End Table -->
                <!-- Update Buttons -->
                <div class="update-cart-area">
                  <%= button_to "vider le panier", @cart, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-brown btn-borders btn-flat" %>
                  <%= button_to "Paiement", new_order_path, method: :get, class: "btn btn-brown btn-flat pull-right" %>
                </div>
                <!-- End Update Buttons -->
              </div>
              <!-- End Cart Widget -->
            </div>
          </div>
        </div>
        <!-- End Content Area -->
      </div>
    </div>
  </div>
</div>
<!-- End Site Content -->
