<br>
<br>
<br>
<br>
<br>

<h2>Panier</h2>

<ul>
  <% @cart.line_items.each do |chat| %>
    <li><%= chat.item.title %> (x <%= chat.quantity %>) <span class="badge badge-info"><%= number_to_currency(chat.total, unit: "€", separator: ".", format: "%n %u") %></span></li>
    <% end %>
</ul>

<p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(@cart.total, unit: "€", separator: ".", format: "%n %u") %></span></p>

<div class="row">
  <div class="col">
  <%= link_to 'retour aux produits', root_path %>
  </div>
  <div class="col">
    <%= button_to "vider le panier", @cart, method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %>
  </div>
  <div class="col">
    <%= button_to "Acheter", new_order_path, method: :get, class: "btn btn-success mb-2" %>
  </div>
</div>
