<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <title>CatShopper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Le magasin des chats</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/img/favicon.ico" >

    <!-- Theme main style -->
    <link rel="stylesheet" href="style.css">
    <!-- Modernizr js -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body class="corporate">
    <p class="top-alert" id="alert"><%= alert %></p>
    <p class="top-alert" id="notice"><%= notice %></p>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
